<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet", href = "{% static 'login_style.css' %}">
</head>
<body>
    <div class="container">
        <form>
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <label type="submit" value="Login">
            <input type="submit" id="submit" name="submit">
        </form>
    </div>
</body>
</html>