<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    span{
        display: inline-block;
        padding: 100px;
        text-align: center;
        margin: 5px 5px 5px 5px;
    }
    
</style>
<body>
    <span style="background-color: rgb(152, 255, 48);">Span1</span>
    <span style="background-color: rgb(100, 179, 248);">Span2</span>
    <span style="background-color: rgb(255, 91, 118);">Span3</span>
</body>
</html>